.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 100%;

    .logo {
        display: flex;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
}
