:host {
    display: flex;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-layout {
    height: 100vh;
}

nz-content {
    margin: 24px;
}

.inner-content {
    background: #fff;

    height: 100%;
}
