<div class="all-wrapper" #dynamicNodeView (contextmenu)="contextMenu($event, menu)">
    <div
        class="tiny"
        [class.selected0]="selectionIndex == 0"
        [class.selected1]="selectionIndex == 1"
        *ngIf="nodeState == NodeState.TINY; else normalNodeRef"
    >
        {{ accountId }}
    </div>
    <ng-template #normalNodeRef>
        <nz-badge [nzCount]="transactionCount" [nzOverflowCount]="100">
            <div
                class="full-wrapper"
                [class.selected0]="selectionIndex == 0"
                [class.selected1]="selectionIndex == 1"
                [style.border-inline-start-color]="getBorderColor()"
            >
                <div class="wrapper">
                    <span
                        (click)="showDetail()"
                        title="اطلاعات بیشتر"
                        class="more-info"
                        nz-icon
                        nzType="question-circle"
                        nzTheme="outline"
                    ></span>
                    <ng-container [ngSwitch]="accountType">
                        <span
                            title="حساب جاری"
                            *ngSwitchCase="AccountType.CURRENT"
                            nz-icon
                            nzType="wallet"
                            nzTheme="outline"
                        ></span>
                        <span
                            title="حساب سپرده"
                            *ngSwitchCase="AccountType.DEPOSIT"
                            nz-icon
                            nzType="bank"
                            nzTheme="outline"
                        ></span>
                        <span
                            title="حساب پس انداز"
                            *ngSwitchCase="AccountType.SAVINGS"
                            nz-icon
                            nzType="dollar"
                            nzTheme="outline"
                        ></span>
                    </ng-container>
                    <nz-divider nzType="vertical"></nz-divider>
                    <div class="info">
                        <div>
                            <span>:نام</span>
                            <span>{{ ownerName + ' ' + ownerFamilyName }}</span>
                        </div>
                        <!--                        <div>-->
                        <!--                            شعبه: <span>{{ branchName }}</span>-->
                        <!--                        </div>-->
                        <div>
                            <span>:کد ملی</span>
                            <span class="line-height">{{ ownerId }}</span>
                        </div>
                        <div>
                            <span>:شماره حساب</span>
                            <span class="line-height">{{ accountId }}</span>
                        </div>
                    </div>
                </div>
                <div class="detail" [class.expand]="nodeState == NodeState.EXPANDED">
                    <nz-divider></nz-divider>
                    <div>
                        <span>:شعبه</span>
                        <span [title]="branchName">{{ branchName }}</span>
                    </div>
                    <div>
                        <span>:آدرس شعبه</span>
                        <span [title]="branchAddress">{{ branchAddress }}</span>
                    </div>
                    <!--            <nz-divider></nz-divider>-->
                    <div>
                        <span>:تلفن شعبه</span>
                        <span class="line-height" [title]="branchTelephone">{{ branchTelephone }}</span>
                    </div>
                    <!--            <nz-divider></nz-divider>-->
                    <div>
                        <span>:شماره شبا</span>
                        <span class="line-height" [title]="sheba">{{ sheba }}</span>
                    </div>
                    <div>
                        <span>:نوع حساب</span>
                        <span [title]="accountType">{{ accountType }}</span>
                    </div>
                    <div>
                        <span>:شماره کارت</span>
                        <span class="line-height" [title]="cardId">{{ cardId }}</span>
                    </div>
                </div>
            </div>
        </nz-badge>
    </ng-template>
</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu class="context">
        <li nz-menu-item *ngIf="selectionIndex == -1; else deselect" (click)="onSelect()">
            <span class="context-item">
                <span nz-icon nzType="check" nzTheme="outline"></span>
                <span class="context-text">انتخاب</span>
            </span>
        </li>
        <ng-template #deselect>
            <li (click)="onDeselect()" nz-menu-item>
                <span class="context-item">
                    <span nz-icon nzType="close" nzTheme="outline"></span>
                    <span class="context-text">لغو</span>
                </span>
            </li>
        </ng-template>
        <li nz-submenu nzTitle="گسترش">
            <ul class="context">
                <li nz-menu-item (click)="onExpand(1)">
                    <span class="context-item">
                        <span nz-icon nzType="fullscreen" nzTheme="outline"></span>
                        <span class="context-text">عمق یک</span>
                    </span>
                </li>
                <li nz-menu-item (click)="onExpand(2)">
                    <span class="context-item">
                        <span nz-icon nzType="fullscreen" nzTheme="outline"></span>
                        <span class="context-text">عمق دو</span>
                    </span>
                </li>
                <li nz-menu-item (click)="onExpand(3)">
                    <span class="context-item">
                        <span nz-icon nzType="fullscreen" nzTheme="outline"></span>
                        <span class="context-text">عمق سه</span>
                    </span>
                </li>
            </ul>
        </li>
        <li nz-menu-item *ngIf="nodeState == NodeState.TINY">
            <span class="context-item">
                <span nz-icon nzType="info-circle" nzTheme="outline"></span>
                <span class="context-text">جزئیات</span>
            </span>
        </li>
        <li nz-menu-item>
            <span class="context-item">
                <span nz-icon nzType="delete" nzTheme="outline"></span>
                <span class="context-text">حذف</span>
            </span>
        </li>
    </ul>
</nz-dropdown-menu>
